table {
  margin: 2rem auto;
  width: 80vw;
  height: 80vh;
  border: black solid 1px;
  border-spacing: 0;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: $color-black;
}
