.chess {
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(
    to top,
    rgba($color-black, 0.6),
    rgba($color-white, 1)
  );
  background-size: 10rem;
}
table {
  margin: 5rem auto;
  border-spacing: 0;
  border: 2px solid black;

  td {
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
  }
  // td:hover {
  //   transform: scale(2);
  // }
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
  //linha 1,3,5,7 column 2,4,6,8
  background: $color-white;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  //linha 1,3,5,7 column 2,4,6,8
  background: $color-black;
}
